@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    margin: auto;
    background-image: url("/img/wallpapersden.com_despicable-me-minions-wallpaper-desktop-hd_1920x1080.jpg");
    display: foot-root;
}

nav {   
    height: 10vh;
    width: 100vw;
    background-color: rgb(255, 217, 0);
}

.nav-heading{
    padding: 0.9vh;
    font-size: 6vh;
    color:rgb(255, 255, 255);

}

header img {
    height: 30vh;
}

textarea {
    height: 6rem;
    width: 25rem;
    font-size: 1.2rem;
    padding: 1rem;
    border: rgb(255, 251, 40) solid ;
    border-radius: 0.5rem;
    
}

#btn-click{
    margin: 1vh;
    width: 8rem;
    height: 2.5rem;
    border: rgb(255, 251, 40) solid ;
    border-radius: 1rem;
    background-color: rgb(0, 102, 255);
    color: white;
}

main div{
    width: 40vh;
}

.output-head{
    margin: auto;
    border-radius: 1vh;
    font-size: 1.5rem;
    background: white;
    border: rgb(255, 251, 40) solid ;
    border-radius: .5rem;
}

#output {
    border: 1px solid black;
    margin: 1vh auto;
    height: 6rem;
    width: 25rem;
    padding: 1rem;
    background-color: white;
    text-align: left;
    border: rgb(255, 251, 40) solid ;
    border-radius: 0.5rem;
}

footer{
    margin-top: 10vh;
   
    width: 100vw;
    background-color: rgb(255, 217, 0);
    height: fit- content
}

.div-font{
    padding: 2vh;
    font-size: large;
    color: rgb(49, 39, 33);
}
