textarea{
    height: 6rem;
    width: 25rem;
    font-size: large;
    margin: 1rem;
    padding: 1rem;
}

#output{
    border: 1px solid black;
    height: 6rem;
    width: 25rem;
    
    margin: 1rem;
    padding: 1rem;
}
